interfaces {
{% for item in interfaces %}
    replace: 
    {{ item.name }} {
        description "{{ item.description }}";
        unit 0 {
            family inet {
                address {{ item.address }}/31;
            }
        }
    }
{% endfor %}
}
protocols {
    replace: 
    bgp {
        group underlay {
            import bgp-in;
            export bgp-out;
            type external;
            local-as {{ asn }};
            multipath multiple-as;
{% for item in external_bgp_neighbors %}
            neighbor {{ item.address }} {
                peer-as {{ item.asn }};
            }
{% endfor %}
        }
    }
    replace: 
    lldp {
{% for item in interfaces %}
        interface "{{ item.name }}";
{% endfor %}
    }
}
routing-options {
    router-id {{ loopback }};
    forwarding-table {
        export bgp-ecmp;
    }
}
replace:
policy-options {
    policy-statement bgp-ecmp {
        then {
            load-balance per-packet;
        }
    }
    policy-statement bgp-in {
        then accept;
    }
    policy-statement bgp-out {
        then accept;
    }
}
